@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Roboto+Mono:400,100,100italic,300,300italic,500,400italic,500italic,700,700italic|Cabin:400,400italic,500,500italic,600,600italic,700,700italic&subset=latin,greek,cyrillic,greek-ext,vietnamese,cyrillic-ext,latin-ext");
body, html, input, select  {
	font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}
body {
    position: absolute;
    width: 100%;
    height: 100%;
}
body, #left-navigation, #right-navigation, #mw-panel, .ve-ui-toolbar-floating > .oo-ui-toolbar-bar {padding-top: 64px !important;}
.mw-body-content {text-align: justify;}
.mw-body-content p {hyphens: auto;}
.mw-body-content p, .mw-body-content ul, .mw-body-content ol, .hatnote {font-size: 0.95rem;}
b, strong, #toctitle {font-weight: 500;}
textarea, pre, code, span.comment, .wikEdFrameBodySyntax, .ace_editor, #wpSummary, .ve-ce-paragraphNode, .CodeMirror, .diff-context, .diff-deletedline, .diff-addedline {font-family: "Roboto Mono", Courier, monospace !important;}
.mw-headline, .mw-continue-editing, .mw-body .mw-editsection, .mw-body .mw-editsection-like {font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif !important;}
h2 span.mw-headline {
    font-size: 24px !important;
    font-weight: 400;
    line-height: 32px;
}
.mw-body-content h2, .diff-currentversion-title {font-family: Roboto, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif !important;}
.diff-currentversion-title {
    font-size: 24px !important;
    font-weight: 400 !important;
    line-height: 32px !important;
}
.firstHeading, .mw-body h1, .cx-column__title {
    margin-top: 48px;
    font-family: Roboto, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    margin: 24px 0;
    padding: 0;
}
.mw-headline, #mw-previewheader {
	font-size: 1.25em !important;
	font-weight: 500;
}
#wpTextbox1 {font-size: 12px;}
.toc {font-size: 0.9em;}
.mw-body fieldset {
    border: 0px none;
    padding: 24px 16px !important;
    margin: 0 !important;
}
.mw-body form {
    box-shadow: 0px -1px 0px rgb(229, 229, 229), 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.24);
    margin-bottom: 24px;
    border-radius: 2px;
    text-align: left;
}
.mw-changeslist-legend, .hatnote img {display: none;}
span.updatedmarker {
	font-style: italic;
	background-color: transparent !important;
	color: #000 !important;
}
.wikitable, .mw-datatable, .gallerytext, .special {text-align: left;}
body .ui-dialog .ui-widget-header {background: none !important;}
body .ui-dialog .ui-dialog-titlebar {padding: none !important;}
.ui-widget-header {
	border: none !important;
	background: none !important;
}
.ui-widget-content {
	background-color: #fff !important;
	background-image: none !important;
} 
.ui-dialog .ui-dialog-buttonpane button {
    background-color: #fff !important;
    background-image: none !important;
    background-position: 50% 50% !important;
    background-size: 100% 100% !important;
    border: 0px none !important;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    color: inherit;
    display: inline-block;
    margin-bottom: 0px;
    max-width: 100%;
    padding: 8px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif !important;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    font-weight: 500;
    white-space: nowrap;
}
.ui-dialog .ui-dialog-title {
	float: left;
	display: block;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	margin-top: 24px;
	margin-bottom: 24px;
}
.ui-dialog {
	font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif !important;
	font-weight: 400;
}
.ui-dialog {
    box-shadow: 0px -1px 0px rgb(229, 229, 229), 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.24);
    border: 0px none !important;
    margin-top: 24px !important;
    margin-bottom: 24px !important;
    border-radius: 2px !important;
    text-align: left;
    padding: 24px 16px !important;
}
.mw-body legend {
	font-size: 20px;
	font-weight: 400;
	display: block;
	line-height: 28px;
	padding: 24px 0 0 !important;
}
#mw-watchlist-resetbutton, #mw-history-compare {
	box-shadow: none;
	padding: 0;
}
#toc, .toc, #catlinks, .catlinks {
    background-color: #fff;
    color: #555555 !important;
    border: 0;
    border-radius: 2px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.noprint.top-link, .toc a {
	color: #555;
	text-decoration: none;
}
#toctitle {color: #555555 !important;}
#toctitle h2 {
    font-family: Roboto, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 500;
    color: #555555 !important;
}
.oo-ui-layout.oo-ui-panelLayout.oo-ui-panelLayout-padded.oo-ui-panelLayout-framed {border: 0; box-shadow: unset; margin: 0; padding: 0;}
span.comment {
	color: #222;
    font-size: 0.75em;
    background-color: #f8f8f8;
    border: 1px solid #eaecf0;
    border-radius: 2px;
    padding: 0.25em;
    white-space: pre-wrap;
}
.mw-tag-markers {font-size: smaller;}
.mw-htmlform-submit {margin: 0 0 20px 15px !important;}
#siteSub {
    display: block;
    font-size: inherit;
    color: #9e9e9e;
    font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
    border-bottom: none;
}
h3 span.mw-headline {
    font-size: 20px !important;
    font-weight: 500;
    line-height: 1;
    letter-spacing: .02em;
}
h4 span.mw-headline, h5 span.mw-headline, h6 span.mw-headline {
    font-weight: 500;
}
.toctoggle {
    font-size: smaller;
    font-weight: 400;
}
#contentSub, #contentSub2 {
    line-height: inherit !important;
    letter-spacing: 0;
    margin: 0.5em 0;
}
#editform {box-shadow: none;}
#p-personal {
    right: 0;
    background-color: #eaecf0;
    width: 100%;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    position: fixed;
    height: 64px;
    padding-top: 4px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5rem;
    top: 0;
    left: 0;
    z-index: 35;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#p-personal a {
    color: #000;
    text-decoration: none;
}
#p-personal ul {
    padding: 16px;
    height: 56px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
}
#pt-uls {display: none;}
#pt-userpage, #pt-anonuserpage {background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/OOjs_UI_icon_userAvatar.svg/14px-OOjs_UI_icon_userAvatar.svg.png') !important;}
#pt-notifications-alert .mw-echo-notifications-badge.mw-echo-notifications-badge-all-read, #pt-notifications-notice .mw-echo-notifications-badge.mw-echo-notifications-badge-all-read {opacity: 1 !important;}
.wikEdLogo {
    cursor: pointer;
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    top: -5px;
    margin-left: 0;
}
.ltr .mw-rtrc-navtoggle {
    border-width: 0 !important;
    padding-top: 120px;
}
div#simpleSearch {
    position: fixed;
    width: auto;
    max-width: none;
    height: 24px;
    border: 0;
    margin-top: 16px;
    margin-left: -10px;
    background-color: #fff;
    z-index: 36;
    right: 65%;
    left: 2em;
    top: 5px;
    border-radius: 0;
}
#left-navigation {margin-right: -1px;}
#right-navigation {float: left;}
div#simpleSearch, .suggestions {box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);}
div.thumbinner {
    border: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
img, html .thumbimage {border: 0;}
html .thumbcaption {padding: 8px 16px;}
.mw-body .mw-indicators {bottom: 3.25rem;}
.referencetooltip li {border: 0;}
.referencetooltip li + li {border-top: 12px #fff solid;}
.RTsettings {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/OOjs_UI_icon_advanced.svg/16px-OOjs_UI_icon_advanced.svg.png);}
.wikiEditor-ui .wikiEditor-ui-top {
    border-bottom: 1px solid #c8ccd1;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    z-index: 2;
}
.wikiEditor-ui-toolbar {
	background-image: none;
	background-color: #eaf3ff;
}
li#ca-view, li#ca-edit, li#ca-viewsource {float: right;}
.wikiEditor-ui-toolbar .sections .section {
    border-top: 0;
    background-color: #fff;
}
.wikiEditor-ui-toolbar .tabs span.tab a, .wikiEditor-ui-toolbar .tabs span.tab a:visited {
    background-image: none;
    background-color: #eaf3ff;
    text-transform: uppercase;
    font-weight: normal;
    padding-top: 3px;
    padding-left: 12px;
}
.wikiEditor-ui-toolbar .tabs span.tab a.current, .wikiEditor-ui-toolbar .tabs span.tab a.current:visited {
    background-image: none;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 3px;
    padding-left: 12px;
    height: 32px;
}
.wikiEditor-ui-toolbar .tabs {
    height: 32px;
    margin: 0;
}
.wikEdButtonBarWrapper {background-color: #d4d0cc;}
#proveit-header {background-color: #fc3;}
#proveit-left-bracket, #proveit-right-bracket {color: #fc3 !important;}
#proveit-list-tab, #proveit-add-tab {
    border: 0 !important;
    top: 0 !important;
    padding: 15px 30px !important;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
#proveit-list-tab.active, #proveit-add-tab.active {
    background: #f4f4f4;
    border-bottom-color: #f4f4f4;
    color: #000;
}
#proveit-content {border: 0 !important;}
#proveit-footer {
    background: #000 !important;
    border-top: 0 !important;
}
#proveit-footer button {
    background: #fc3 !important;
    color: #000;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-size: smaller;
}
.editButtons, .oo-ui-inputWidget-input, .editHelp a {text-transform: uppercase;}
.editHelp, .oo-ui-textInputWidget.oo-ui-widget-enabled input, .oo-ui-textInputWidget.oo-ui-widget-enabled textarea {text-transform: none;}
.suggestions {border-top: 1px #a2a9b1 solid;}
.suggestions-results, .suggestions-result-current {border: 0;}
.suggestions-result-current {
    background-color: #36c;
    color: #fff;
}
.suggestions-special {
    border: 0;
    border-top: 1px solid #a2a9b1;
}
div.vectorMenu:hover div.menu, div.vectorMenu.menuForceShow div.menu {
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    border: 0;
}
div.vectorMenu li a:hover {
    background-color: #36c;
    color: #fff;
    text-decoration: none;
}
#ca-view a, #ca-edit a, #ca-addsection a, #ca-viewsource a, #ca-history a, #ca-watch a, #ca-unwatch a {width: 122px;}
#ca-watch a {text-transform: capitalize;}
.selected a:hover {background-color: transparent !important;}
.mwe-popups-extract {
	hyphens: auto;
	text-align: justify;
}
table ul, table ol, table p, .reflist ul, .reflist ol, ul.references, ol.references, .toc, .toc ul, .catlinks, .catlinks ul {font-size: inherit !important}
.cx-header__title {
    position: fixed;
    left: 10px;
    top: 12px;
    z-index: 36;
}
.cx-header__bar {
    margin-top: 30px;
    border-top: none !important;
}
