.wikipediauserbox a {
	text-decoration: none;
}
.infobox_v2 {
    background-color: #fff;
    color: rgba(0,0,0,.87);
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 4px;
    border-collapse: collapse;
}
.infobox_v2 tr {
    border-top-color: rgba(0,0,0,.12);
    border-top-width: 1px;
    border-top-style: solid;
}
.infobox_v2 tr:hover {
    background-color: rgba(0,0,0,.04);
}
.infobox_v2 tr .floatnone img {
    margin: 8px 0;
}
.infobox_v2 th {
	background-color: transparent !important;
	text-align: left !important;
	font-weight: 500;
    color: initial !important;
    font-family: inherit !important;
    padding-right: 8px !important;
    padding-left: 8px !important;
    height: 52px;
    vertical-align: middle;
}
.infobox_v2 td {
    background-color: transparent !important;
    font-weight: 400 !important;
    padding-right: 8px;
    padding-left: 8px;
    height: 52px;
    vertical-align: middle !important;
}
.infobox_v2 td[scope ^="row"] {
    background-color: transparent !important;
    font-weight: 500 !important;
}
.infobox_v2 .topo {
	background-color: transparent !important;
    background-image: none !important;
    color: rgba(0,0,0,.87) !important;
    padding-right: 8px !important;
    padding-left: 8px !important;
    height: 52px;
    vertical-align: middle;
}
.infobox_v2 .topo span {
    text-align: left !important;
    font-weight: 500;
}
.infobox_v2 .topo small span {
    font-weight: 400;
}
#lastEditUser {
	font-family: Roboto, sans-serif !important;
	font-weight: 400 !important;
	font-size: 12px !important;
}
.bkl-link {
    background: none;
}
.bkl-link-sup {
    vertical-align: text-top;
    margin-left: 0.2rem;
    font-style: italic;
}
.bkl-link-sup::before {
    content: "(";
}
.bkl-link-sup::after {
    content: ")";
}
.flagicon,
#editpage-copywarn {
	display: none;
}
.fastb-button {
    font-family: Roboto, sans-serif !important;
    background-color: #3366cc !important;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    display: inline-block;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    padding: .6875rem 1rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    position: relative;
    white-space: nowrap;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    box-sizing: content-box;
    letter-spacing: .0892857143em;
}
.fastb-button:active {
	background-color: hsla(0,0%,60%,.4);
	background-image: none;
	box-shadow: 0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 3px rgba(0,0,0,.12),0 4px 15px 0 rgba(0,0,0,.2);
}
.fastb-button:focus,
.fastb-button:hover {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}
.fastb-button:hover {
	background-image: linear-gradient(180deg,rgba(0,0,0,.12),rgba(0,0,0,.12));
}
#fastb-menu .fastb-button:active {
	background-color: #7b1fa2;
}
#fastb-submenu .fastb-menu-button,
#fastb-submenu .fastb-action-button,
#fastb-submenu .fastb-link-button {
    background-color: #fff !important;
    padding: .59375rem 1rem;
    color: #36c !important;
    box-shadow: none;
    border: 1px solid #36c;
    font-size: small;
}
#fastb-submenu a:hover {
    background: none;
}
.fastb-link-button:hover {
	color: #fff !important;
}
.fastb-disabled-button,
.fastb-disabled-button:active,
.fastb-disabled-button:hover {
	background-color: rgba(0,0,0,.12) !important;
	color: rgba(0,0,0,.26) !important;
	box-shadow: none;
	background-image: none;
    font-size: small;
}
#fastb-menu {
	margin-bottom: 0;
}
#fastb-menu,
#fastb-submenu {
	background-color: transparent !important;
	padding: 0;
}
.fastb-button.fastb-link-button {
	margin-right: 0.25em;
}
.noprint.plainlinksneverexpand.navbar {
	display: inline-flex;
}
.NavHead {
	font-weight: 500 !important;
}
#Ajustes\ automáticos {
	margin-left: 0.5em;
}
#diff-tools > ul > li:before, #diff-tools > ul > li:after, #diff-tools > ul > li > ul > li:not(:first-child):before,
#diff-tools > ul > li > ul > li > ul > li:not(:first-child)::before {
	font-size: 0;
}
#diff-tools li,
#diff-tools ul {
	font-size: small;
}
.diff-tools-subsection a {
	border-radius: 1em;
	background-color: #9c27b0;
	color: #fff;
	align-items: center;
	display: inline-flex;
	font-weight: 500;
	padding-left: .5em;
	padding-right: .5em;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;
	margin: .1rem .05rem;
	text-transform: lowercase;
}
.diff-tools-subsection a:active,
.diff-tools-subsection a:focus,
.diff-tools-subsection a:hover {
	background-color: #7b1fa2;
	color: #fff;
	text-decoration: none;
}
@media print {
    #fastb-menu,
    #fastb-submenu {
        display: none;
    }
}