/* fonte: roboto */
.fastb-button,
#lastEditUser {
    font-family: Roboto, sans-serif !important;
}
/* remove sublinhado ao passar o mouse num link de userbox */
.wikipediauserbox a {
    text-decoration: none;
}
/* infocaixas */
.infobox_v2 {
    background-color: #fff;
    color: rgba(0, 0, 0, .87);
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 4px;
    border-collapse: collapse;
}
.infobox_v2 tr {
    border-top-color: rgba(0, 0, 0, .12);
    border-top-width: 1px;
    border-top-style: solid;
}
.infobox_v2 tr:hover {
    background-color: rgba(0, 0, 0, .04);
}
.infobox_v2 tr .floatnone img {
    margin: 8px 0;
}
.infobox_v2 th {
    background-color: transparent !important;
    text-align: left !important;
    font-weight: 500;
    color: inherit !important;
    font-family: inherit !important;
    padding-right: 8px !important;
    padding-left: 8px !important;
    height: 52px;
    vertical-align: middle;
}
.infobox_v2 td {
    background-color: transparent !important;
    font-weight: 400 !important;
    padding-right: 8px;
    padding-left: 8px;
    height: 52px;
    vertical-align: middle !important;
}
.infobox_v2 td[scope ^="row"] {
    background-color: transparent !important;
    font-weight: 500 !important;
}
.infobox_v2 .topo {
    background-color: transparent !important;
    background-image: none !important;
    color: rgba(0, 0, 0, .87) !important;
    padding-right: 8px !important;
    padding-left: 8px !important;
    height: 52px;
    vertical-align: middle;
}
.infobox_v2 .topo span {
    text-align: left !important;
    font-weight: 500;
}
.infobox_v2 .topo small span {
    font-weight: 400;
}
/* gadget: detector de desambiguações */
/** remove o fundo amarelo **/
.mw-disambig {
    background: transparent;
}
/** define margem e itálico **/
.mw-disambig::after {
    margin-left: 0.2rem;
    font-style: italic;
}
/* itens que não serão mostrados */
/** inativa o gadget detector de desambiguações na predefinição ver desambig **/
.hatnote .mw-disambig::after,
/** remove ícones de bandeiras **/
.flagicon,
/** remove aviso de cópia na página de edição **/
#editpage-copywarn {
    display: none;
}
/* gadget: fastbuttons */
.fastb-button {
    background-color: #3366cc !important;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    display: inline-block;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    padding: .6875rem 1rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    position: relative;
    white-space: nowrap;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    box-sizing: content-box;
    letter-spacing: .0892857143em;
}
.fastb-button:active {
    background-color: hsla(0, 0%, 60%, .4);
    background-image: none;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 3px rgba(0, 0, 0, .12), 0 4px 15px 0 rgba(0, 0, 0, .2);
}
.fastb-button:focus,
.fastb-button:hover {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}
.fastb-button:hover {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .12), rgba(0, 0, 0, .12));
}
#fastb-menu .fastb-button:active {
    background-color: #7b1fa2;
}
#fastb-submenu .fastb-menu-button,
#fastb-submenu .fastb-action-button,
#fastb-submenu .fastb-link-button {
    background-color: #fff !important;
    padding: .59375rem 1rem;
    color: #36c !important;
    box-shadow: none;
    border: 1px solid #36c;
    font-size: small;
}
#fastb-submenu a:hover {
    background: none;
}
.fastb-link-button:hover {
    color: #fff !important;
}
.fastb-disabled-button,
.fastb-disabled-button:active,
.fastb-disabled-button:hover {
    background-color: rgba(0, 0, 0, .12) !important;
    color: rgba(0, 0, 0, .26) !important;
    box-shadow: none;
    background-image: none;
    font-size: small;
}
#fastb-menu {
    margin-bottom: 0;
}
#fastb-menu,
#fastb-submenu {
    background-color: transparent !important;
    padding: 0;
}
.fastb-button.fastb-link-button {
    margin-right: 0.25em;
}
/* script: ajustes automáticos */
#Ajustes\ automáticos {
    margin-left: 0.5em;
}
/* itens da tela de impressão */
@media print {
    /* itens que não serão mostrados */
    #fastb-menu,
    #fastb-submenu {
        display: none;
    }
}
/* itens do modo escuro */
@media (prefers-color-scheme: dark) {
    /* página principal */
    .skin-vector.page-Wikipédia_Página_principal .mw-body-content div,
    .skin-vector.page-Wikipédia_Página_principal .hp div,
    .skin-vector.page-Wikipédia_Página_principal .hp-portalen {
        background: none !important;
        box-shadow: none !important;
    }
    .skin-vector.page-Wikipédia_Página_principal .hp table {
        background-color: rgba(255, 255, 255, 0.25);
    }
    .skin-vector.page-Wikipédia_Página_principal .main-page-block-heading,
    .infobox_v2 {
        color: #fff;
    }
    .skin-vector.page-Wikipédia_Página_principal .hp-welkom-1,
    .skin-vector.page-Wikipédia_Página_principal .hp-welkom-1 a,
    .skin-vector.page-Wikipédia_Página_principal .hp-welkom-1 a span,
    .skin-vector.page-Wikipédia_Página_principal .hp-welkom-2,
    .skin-vector.page-Wikipédia_Página_principal .hp-welkom-2 a,
    .skin-vector.page-Wikipédia_Página_principal .hp-kop td span,
    .infobox_v2 .topo {
        color: #fff !important;
    }
    /* infocaixas */
    .infobox_v2 {
        background-color: #616161;
    }
    .infobox_v2 a,
    .infobox_v2 a.external {
        color: #82b1ff;
    }
    .infobox_v2 a:visited,
    .infobox_v2 a.external:visited {
        color: #b388ff;
    }
    /* caixa de sucessão */
    .skin-vector .toccolours {
        background-color: #616161;
    }
    /* páginas de discussão */
    .skin-vector.ns-talk dl dl,
    .skin-vector.ns-talk dl dl dl dl,
    .skin-vector.ns-talk dl dl dl dl dl dl,
    .skin-vector.ns-talk dl dl dl dl dl dl dl dl,
    .skin-vector.ns-talk dl dl dl dl dl dl dl dl dl dl {
        background: #424242;
    }
    .skin-vector.ns-talk dl,
    .skin-vector.ns-talk dl dl dl,
    .skin-vector.ns-talk dl dl dl dl dl,
    .skin-vector.ns-talk dl dl dl dl dl dl dl,
    .skin-vector.ns-talk dl dl dl dl dl dl dl dl dl {
        background: #616161;
    }
}